<% include ../partials/header %>
<div class="ui text main container segment">
        <form class="ui reply form" action="/stories/<%=story._id%>/comments/<%=comment._id%>?_method=put" method="POST" >
                <div class="field">
                    <label> edit comment on <%=story.title%></label>
                  <textarea name="comment[text]" ><%=comment.text%></textarea>
                </div>
                <div class="ui primary submit labeled icon button">
                  <i class="icon edit"></i> <button class="ui yellow button"> edit Comment</button>
                </div>
              </form>
              
            </div>
</div>

<% include ../partials/footer %>