<% include ../partials/header %>
<div class="ui text main container segment">
        <form class="ui reply form" action="/stories/<%=story._id%>/comments" method="POST" >
                <div class="field">
                    <label> comment on <%=story.title%></label>
                  <textarea name="text" placeholder="leave your comment" ></textarea>
                </div>
                <div class="ui primary submit labeled icon button">
                  <i class="icon add"></i> <button class="ui blue button"> Add Comment</button>
                </div>
              </form>
              
            </div>
</div>

<% include ../partials/footer %>