<% include ../partials/header %>

<div class="ui text main container segment">
    <h1 class="ui header"> edit <%=story.title%></h1>

    <form class="ui form" action="/stories/<%=story._id%>?_method=PUT" method="POST" >
            <div class="field">
              <label>Title</label>
              <input type="text" name="story[title]" value="<%=story.title%>">
            </div>
            <div class="field">
              <label>content</label>
              <textarea name="story[content]" ><%=story.content%></textarea>
            </div>
         
            <button class="ui green button" type="submit">Update</button>
          </form>




</div>

<% include ../partials/footer %>